:root {
     --page-background-color: #f3f3f3;

     --sugle-color: #F53435;
     --sugle-color-2: #BC1654;
     --sugle-color-3: #86415E;
     --sugle-color-4: #42A48D;
     --sugle-color-5: #F09648;
}

body {
     margin: 0;
     font-family: 'Barlow Semi Condensed', sans-serif;
     background: var(--page-background-color);
}
.blur {filter: blur(2px);} .notblur {filter: blur(0px);}
a {color: var(--sugle-color-5); text-decoration: none;}

#searchEngine > .search-engine-wrapper > .search-engine-logo > h1 {
     font-family: 'Shrikhand', sans-serif;
     font-weight: 300;
     font-size: 90px;
     margin: 0;
     color: var(--sugle-color-4);
}
